<div class="scrollable">
  	<div class="scrollable-content">
	<!--
  	<div class="subHeader">
	
  	<span class="dropdown" is-open="status.isopen">
  	<a href = "" class="pull-right dropdown-toggle"><i class="fa fa-ellipsis-v"></i></a>
  	<ul class="dropdown-menu">
        <li><a ng-class="{dropactive : selectedstatus == ''}" href="" ng-click="changetype('All')">All</a></li>
        <li><a ng-class="{dropactive : selectedstatus == 'On Going'}" href="" ng-click="changetype('On Going')">On Going</a></li>
        <li><a ng-class="{dropactive : selectedstatus == 'Completed'}" href="" ng-click="changetype('Completed')">Completed</a></li>
	</ul>
  	</span>
  	<a href = "" ng-click="backfun()" class="pull-left"><i class="fa fa-angle-left">&nbsp;&nbsp;</i></a><h2>{{title}}</h2>
  	
</div>
	-->
	
	<p></p>
	<span ng-show="!loader">	
	<div class="navbar navbar-app mt10">
    		<div class="btn-group justified">
			<a  role="tab" data-toggle="tab" data-target= "#" ng-class="{tabactive : selectedstatus == ''}" ng-click= "changetype('All')" class="btn btn-navbar sub-tab " >All</a>
    			<a  role="tab" data-toggle="tab" data-target= "#" ng-class="{tabactive : selectedstatus == 'On Going'}" ng-click= "changetype('On Going')" class="btn btn-navbar sub-tab " >On Going</a>
    			<a  role="tab" data-toggle="tab" data-target= "#" ng-class="{tabactive : selectedstatus == 'Completed'}" ng-click= "changetype('Completed')" class="btn btn-navbar sub-tab " >Completed</a>
    		
    		</div>
  	</div> 
	<div class="navbar navbar-app mt10">
    		<div class="btn-group justified">
			<a  role="tab" data-toggle="tab" data-target= "#" ng-class="{tabactive : selectedcat == 'Residential'}" ng-click= "changecat('Residential')" class="btn btn-navbar sub-tab " >Residential</a>
    			<a  role="tab" data-toggle="tab" data-target= "#" ng-class="{tabactive : selectedcat == 'Commercial'}" ng-click= "changecat('Commercial')" class="btn btn-navbar sub-tab " >Commercial</a>
    			
    		
    		</div>
  	</div> 
	
	<div class="list-group cards" ng-repeat="project in (filteredprojects = (projectList | filter:{ projectstatus: selectedstatus,city :selectedcat} | orderBy: 'projectstatus' : true))" >
	  	<a href="#/Project/{{project.projectid}}" class="list-group-item active">
	  		<div class="imgPlace"><img class="img-responsive" src="{{project.image}}{{imgappend}}"></div>
	    		<h4 class="list-group-item-heading">{{project.projecttitle}}</h4>
	    		<span>[{{project.city}}  - {{project.projectstatus}}]  </span>
	    	</a>
	    	
	</div>
	<p class="noresult" ng-show="(filteredprojects).length == 0">Sorry, No Projects In This Category.</p>	
	</span>

	<div class="responsive-container" ng-show="loader">
			<div class="dummy"></div>
			<div class="img-container">
				<div class="centerer"></div>
				<img src="img/loading1.gif"  ng-show="loader">
			</div>
	</div>	
	
  	</div>
</div>


