
<div class="scrollable">
  	<div class="scrollable-content gal-content">

  		<span ng-show="!loader">	
  			
		<div class="list-group cards" ng-repeat="gallery in galleryList">
	  		<a href="" class="list-group-item active" >
			<div class="imgPlace">	<img class="img-responsive" src="{{gallery.image}}{{imgappend}}" alt="Gallery" ng-click="opengallery(gallery.imgid)" ></div>
	    		<h4 class="list-group-item-heading">{{gallery.imagetitle}}</h4>
			
	    		<span ng-click="downloaddata(gallery.image)">[Download]</span> 
	    		
	    		</a>
	    		<hr>
		</div>
		</span>	
		<div class="responsive-container" ng-show="loader">
			<div class="dummy"></div>
			<div class="img-container">
				<div class="centerer"></div>
				<img src="img/loading1.gif">
			</div>
		</div>	
  	</div>
</div>
