<div class="scrollable">
  	<div class="scrollable-content home">
  			
  		<div class="fullimg">
    			<carousel  interval="myInterval" >
 			<slide ng-repeat="image in imgarray" active="slide.active">
   				<img ng-src="{{image}}" class="img-responsive" style="margin:auto;">
 			</slide>
    			</carousel>
  		</div>
		<p>&nbsp;</p>
  		<div>
  			<h3 class='home-content'><b>DEVBHOOMI</b></h3>
			<p class='home-tag'><strong>Blending Culture with LifeStyle...</strong></p>
			<p class='home-tag'>
			Immaculate project consisting of 5 magnificient towers housing 116 lavish Vastu-Compliant apartments.
			</p>
  		</div>
		<div class="fullimg"><img src="img/app-logo-rameshwaramgroup.png" class="img-responsive"></div>

  		
  	</div>
</div>




