<div class="scrollable " >
  	<div class="scrollable-content">
		
		<span ng-show="!loader">		
		<!-- <div class="fullimg"><img src="img/company-news.jpg" class="img-responsive"></div>	-->	
  		<div class="media cards" ng-repeat="news in newsList">
  			<div class="media-body">
  				
				<div class="newsdate">
				<i class="fa fa-calendar"></i> &nbsp;
				{{ news.newsdate }}
				</div> 
				<p ng-bind-html = "news.description| html"> </p>
				
  			</div>
		</div>
		<p class="noresult" ng-show="(newsList).length == 0">Sorry, No News Found ..</p>
		</span>	
		<div class="responsive-container" ng-show="loader">
			<div class="dummy"></div>
			<div class="img-container">
				<div class="centerer"></div>
				<img src="img/loading1.gif" >
			</div>
		</div>	
  	</div>
</div>
