<div class="scrollable">
  	<div class="scrollable-content">
  	<div class="subHeader"><h2><a href = "" ng-click="backfun()" class="pull-left"><i class="fa fa-angle-left">&nbsp;&nbsp;</i></a>{{title}}</h2></div>
	<span ng-show="!loader">	
	<div class="navbar navbar-app mt10">
    		<div class="btn-group justified">
    			<a  role="tab" data-toggle="tab" data-target= "#" ng-class="{tabactive : category == 'On Going'}" ng-click= "changecat('On Going')" class="btn btn-navbar sub-tab " >On Going</a>
    			<a  role="tab" data-toggle="tab" data-target= "#" ng-class="{tabactive : category == 'Completed'}" ng-click= "changecat('Completed')" class="btn btn-navbar sub-tab " >Completed</a>
    		
    		</div>
  	</div>
  	
	<div class="list-group cards" ng-repeat="project in (filteredprojects =  (projectList | filter:{ typetitle: category} | orderBy:projectstatus:reverse))">
	  	<a href="#/Project/{{project.projectid}}" class="list-group-item active">
			<div class="imgPlace"><img class="img-responsive" src="{{project.image}}{{imgappend}}" alt="{{project.projecttitle}}"><h4 class="list-group-item-heading">{{project.projecttitle}}</h4></div>
	    		
	    		<span class="ptTitle">[{{project.projectstatus}}]  </span>
	    </a>
	    <hr>
	</div>
	</span>
	<div class="responsive-container" ng-show="loader">
			<div class="dummy"  ></div>
			<div class="img-container">
				<div class="centerer"></div>
				<img src="img/loading1.gif" >
			</div>
	</div>	

	<p class="noresult" ng-show="(filteredprojects).length == 0">Sorry, No Projects In This Category.</p>	
		  
  	</div>
</div>


