<div class="scrollable">
  	<div class="scrollable-content">
  	<span ng-show="!loader">
  	
  	<div class="fullimg imgPlace"><img class="img-responsive"  src="{{projectDetail.gallery}}{{imgappend}}" alt="{{projectDetail.title}}" ></div>
  
	<tabset  class="tabs-left" type="tabs" vertical="true">
  	   <tab ng-show="projectDetail.overview.length != 0 || projectDetail.status.length != 0">
     	 <tab-heading>
        		<img class="img-responsive" src="img/projects-icon-overview.png">
			<span>Overview</span>
      	 </tab-heading>
    			 <div class="well">
				<h4 class="titleapp">Overview</h4>
				<p ng-show="projectDetail.status.length != 0">Status : {{projectDetail.status}}</p>
				<p id='overviewid' ng-bind-html="projectDetail.overview|html"></p>
			 </div>
    	   </tab>
    	   <tab ng-show="projectDetail.amenities.length != 0">
     	 <tab-heading>
        		<img class="img-responsive" src="img/projects-icon-amenities.png">
			<span>Amenities</span>
      	 </tab-heading>
    			 <div class="well">
				<h4 class="titleapp">Amenities</h4>
				<p ng-bind-html="projectDetail.amenities|html"></p>
			</div>
    	   </tab>
    	   <tab ng-show="projectDetail.floorplan.length != 0">
     	 <tab-heading>
        		<img class="img-responsive" src="img/projects-icon-floorplan.png">
			<span>FloorPlan</span>
      	 </tab-heading>
    			 <div class="well">
				<h4 class="titleapp">Floor Plans</h4>
				<div class="list-group cards" ng-repeat="floors in floorarray">
					<a href="" class="list-group-item active">
		  
					<div class="imgPlace"><img class="img-responsive" src="{{floors}}{{imgappend}}" ng-click="floorplangallery(projectDetail.id,$index)" alt="{{projectDetail.title}}"></div>
					<h4 class="list-group-item-heading">{{floortitlearray[$index]}}</h4>
					<span ng-click="downloaddata(floors)">[Download]</span>
	   				</a>
				</div>
			</div>
    	   </tab>
	   <tab ng-show="projectDetail.location.length != 0">
     	 <tab-heading>
        		<img class="img-responsive" src="img/projects-icon-location.png">
			<span>Location</span>
      	 </tab-heading>
    			 <div class="well">
				<h4 class="titleapp">Location</h4>
				<a href="">
					<span ng-click="downloaddata(projectDetail.location)" class="pull-right">[Download]</span><br>
					<div class="imgPlace"><img class="img-responsive" src="{{projectDetail.location}}{{imgappend}}" alt="{{projectDetail.title}}" >
					</div> 		
				</a>
			</div>
    	   </tab>
    	   <tab >
     	 <tab-heading>
        		<img class="img-responsive" src="img/projects-icon-gallery.png" ng-click="projectgallery(projectDetail.id)">
			<span>Gallery</span>
      	 </tab-heading>
    			 
    	   </tab>
	  <tab >
     	 <tab-heading>
        		<img class="img-responsive" src="img/projects-icon-brochure.png" ng-show="projectDetail.brochure != ''"  ng-click="downloadbrochure()">
			<span>Brochure</span>
      	 </tab-heading>
    			 
    	   </tab>
	  <tab >
     	 <tab-heading>
        		<img class="img-responsive" src="img/projects-icon-share.png" ng-click="sharefun()">
			<span>Share</span>
      	 </tab-heading>
    			 
    	   </tab>
    
  </tabset>
 
	</span>	
	<div class="responsive-container" ng-show="loader">
			<div class="dummy"></div>
			<div class="img-container">
				<div class="centerer"></div>
				<img src="img/loading1.gif">
			</div>
	</div>
  	</div>
</div>
