
<div class="scrollable " >
  	<div class="scrollable-content">
		<span ng-show="!loader">
		<div class="navbar navbar-app mt10">
    		<div class="btn-group justified">
    			<a ng-click="changeview('info')" class="btn btn-navbar sub-tab" ng-class="{tabactive : info}" >Address</a>
    			<a  class="btn btn-navbar sub-tab " ng-click="changeview('socialmedia')" ng-class="{tabactive : socialmedia}" >Social Connects</a>    			<a  class="btn btn-navbar sub-tab " ng-click="changeview('ratecontent')" ng-class="{tabactive : ratecontent}" >Rate Us</a>
    			
    		</div>
  		</div>
		<div class="fullimg"><img src="img/company-contactus.jpg" class="img-responsive"></div>	
		<div class="col-xs-12 reach-container" ng-show="info">
			<p>
			<div >
			<h4 class="titleapp">Address </h4>
			Plot No. 6, Block No. 100,<br>
			Behind Evershine Italian Marble,<br>
			Nr. Anuvrat Dwara, New City Light Road,<br>
			Surat, Gujarat (INDIA)<br><br>
			<h4 class="titleapp">Contact </h4>
				<i class="fa fa-phone">&nbsp;&nbsp;</i> +91 261 2904575, 2917362<br>
				<i class="fa fa-envelope">&nbsp;&nbsp;</i>info@rameshwaramgroup.com
			</div>
			</p>
		</div>
		
		<div class="col-xs-12 reach-container" ng-show="socialmedia">
			<p>
				<div >
				<h4 class="titleapp">Social Connects </h4>
				<a class='social-link' href='' onclick="openlinks('https://www.facebook.com/RameshwaramGroup')"><i class='fa fa-facebook'>&nbsp;&nbsp;</i>Like Us on Facebook</a><br>
				<a class='social-link' href='' onclick="openlinks('https://twitter.com/Rameshwaram2001')"><i class='fa fa-twitter'>&nbsp;&nbsp;</i>Follow us on Twitter</a><br>
				<a class='social-link' href='' onclick="openlinks('https://www.youtube.com/user/RameshwaramGroup')"><i class='fa fa-youtube'>&nbsp;&nbsp;</i>Follow Us on Youtube</a>
			
				</div>
			</p>
		</div>

		<div class="col-xs-12 reach-container" ng-show="ratecontent">
			<div>
				<p class='rate'>Love RameshwaramGroup ?
				<br>Click on the stars to rate!<br><a href='' class='heart-red' onclick="openlinks('https://play.google.com/store/apps/details?id=com.easternts.rameshwaram')">
				<i class='fa fa-star'>&nbsp;&nbsp;</i><i class='fa fa-star'>&nbsp;&nbsp;</i>
				<i class='fa fa-star'>&nbsp;&nbsp;</i><i class='fa fa-star'>&nbsp;&nbsp;</i>
				<i class='fa fa-star'>&nbsp;&nbsp;</i>
				</a>
				</p>
				<hr>
				<br>
				<p class='support'><img src='img/app-logo-rameshwaramgroup.png' alt=''><br>
				&copy; 2014 Rameshwaram Group. All Rights Reserved.<br>
				<br>App Support : Eastern Techno Solutions<br><i class='fa fa-envelope'>&nbsp;&nbsp;</i>contact@easternts.com</p>
			</div>
		</div>


		</div>
		
		</span>
		<div class="responsive-container" ng-show="loader">
			<div class="dummy"></div>
			<div class="img-container">
				<div class="centerer"></div>
				<img src="img/loading1.gif">
			</div>
		</div>	

  	</div>
</div>
