<div class="scrollable">
  	<div class="scrollable-content">
	  	<ol class="breadcrumb">
  		<li class="active">{{titlestatus}}</li>
		</ol>
	
		<span ng-show="!loader">	
	  	<div class="list-group cards" ng-model="listing" ng-repeat="project in (filteredprojects =  (projectList | filter:{ typetitle: status} | orderBy: 'typetitle' : true ))">
	  		<a class="list-group-item active" href="#/Project/{{project.projectid}}">
	  		<div class="imgPlace"><img class="img-responsive" src="{{project.image}}{{imgappend}}" ></div>
	  			<h4 class="list-group-item-heading">{{project.projecttitle}}</h4>
  						<span>[{{project.projecttypetitle}}  - {{project.typetitle}}]  </span>
  			</a>
		</div>
		<p class="noresult" ng-show="(filteredprojects).length == 0">Sorry, No Projects In This Category.</p>
		</span>
		
		<div class="responsive-container" ng-show="loader">
			<div class="dummy"></div>
			<div class="img-container">
				<div class="centerer"></div>
				<img src="img/loading1.gif">
			</div>
		</div>	

  	</div>
</div>
