<div class="scrollable " >
  	<div class="scrollable-content">
  		
  		<span ng-show="!loader">	
  		<!--<div class="fullimg"><img src="img/company-success-stories.jpg" class="img-responsive"></div> -->	
  		<div class="media cards" ng-repeat="story in storyList">
  			<div class="media-body">
				<h4 class="media-heading newsdate">{{ story.name }}</h4>
				<div class="successimgPlace" ng-show="story.image.length != 0">	
				<img class="img-responsive" src="{{story.image}}" alt="{{ story.name }}"  >
				</div>
    				
   		 		<p ng-bind-html = "story.description| html"> </p>
  			</div>
		</div>
		</span>
		<div class="responsive-container" ng-show="loader">
			<div class="dummy"></div>
			<div class="img-container">
				<div class="centerer"></div>
				<img src="img/loading1.gif">
			</div>
		</div>	

  	</div>
</div>
