<!DOCTYPE html>
<html ng-app="rameshwaramApp" >
<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="css/mobile-angular-ui-hover.min.css" />
	<link rel="stylesheet" href="css/mobile-angular-ui-base.min.css" />
	<link rel="stylesheet" href="css/font-awesome.min.css" />
	<link href="animations.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="css/app.css" />
	
  	<!-- SPELLS -->
  	<script src="js/libs/angular.min.js"></script>
  	<script src="js/libs/angular-route.min.js"></script>
  	<script src="js/libs/ui-bootstrap-tpls-0.11.0.js"></script>
  	<script src="js/libs/ng-storage.js"></script>
  	<script src="js/libs/angular-animate.js"></script>
  	<script src="js/libs/mobile-angular-ui.min.js"></script>

	<script type="text/javascript" src="cordova.js"></script>
  	<script src="js/app.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
  	
</head>
<!-- define angular controller -->
<body >
<div class="sidebar sidebar-left" toggleable parent-active-class="sidebar-left-in" id="mainSidebar"  >
  <h1 class="app-name">Navigation</h1>

  <div class="scrollable">
    <div class="scrollable-content">
      <div class="list-group slidemenu menu" toggle="off" bubble target="mainSidebar"  >
			<div class="row">
				<div class="col-xs-6 menubg_white ">
					<a href="#/home">
					<img src="img/menu-icon-home.png" width="64" height="64"><br>
					<span>Home</span>
					</a>
				</div>
				<div class="col-xs-6 menubg_gray"> 
					<a href="#/about">
					<img src="img/menu-icon-aboutus.png" width="64" height="64"><br>
					<span>About Us</span>
					</a>
				</div>
				
			</div>
			<div class="row">
				<div class="col-xs-6 menubg_gray">
					<a href="#ProjectSelect">
					<img src="img/menu-icon-projects.png" width="64" height="64"><br>
					<span>Projects</span>
					</a>
				</div>
				
				<div class="col-xs-6 menubg_white">
					<a href="#news">
					<img src="img/menu-icon-newsevents.png" width="64" height="64"><br>
					<span>News</span>
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6 menubg_white"> 
					<a href="#success-story">
					<img src="img/menu-icon-successstories.png" width="64" height="64"><br>
					<span>Success Story</span>
					</a>
				</div>
				<div class="col-xs-6 menubg_gray"> 
					<a href="#/gallery">
					<img src="img/menu-icon-gallery.png" width="64" height="64"><br>
					<span>Gallery</span>
					</a>
				</div>
				
			</div>
			<div class="row">
				<div class="col-xs-6 menubg_gray">
					<a href="#/contact-us">
					<img src="img/menu-icon-inquiry.png" width="64" height="64"><br>
					<span>Inquiry</span>
					</a>
				</div>
				<div class="col-xs-6 menubg_white"> 
					<a href="#/reach-us">
					<img src="img/menu-icon-reachus.png" width="64" height="64"><br>
					<span>Reach Us</span>
					</a>
				</div>
				
			</div>
      </div>

    </div>
  </div>
</div>
<div class="app">
  <div class="sub-navbar navbar-app navbar-absolute-top " ng-show="!defaultheader">
     <div class="navbar-brand navbar-brand-center sub-mt" id="sub-title" >
       
     </div>
      
  </div>
  <!-- Navbars -->
  <div class="navbar navbar-app navbar-absolute-top" ng-show="defaultheader">

     <div class="navbar-brand navbar-brand-center" id="brand-title" yield-to="title" >
        <!--<img src="img/logo.png" alt=""  > -->
	
     </div>
    
	<div class="btn-group pull-left" >
        <div ng-click="toggle('mainSidebar')" class="btn btn-navbar sidebar-toggle"  >
          <i class="fa fa-bars fa-navbar" ></i>
        </div>
     </div>
	<div class="btn-group pull-right">
        <a href="#/Project-Option" class="btn btn-navbar">
          <i class="fa fa-search fa-navbar" ></i>
        </a>
     </div>
  </div>
  
   	<div class="navbar navbar-app navbar-absolute-bottom" ng-show="innerfooter">
    		<div class="btn-group justified">
      		<a href="#/home" class="btn btn-navbar btn-icon-only"><i class="fa fa-home fa-navbar"></i></a>
      		<a href="#ProjectSelect" class="btn btn-navbar btn-icon-only"><i class="fa fa-building-o fa-navbar"></i></a>
      		<a href="#/contact-us" class="btn btn-navbar btn-icon-only"><i class="fa fa-envelope fa-navbar"></i></a>
    		</div>
  	</div>
	<div class="navbar-app navbar-absolute-bottom subscribe-footer" ng-show="!innerfooter" >
    	</div>
  	
  <div class="app-body">
	<ng-view class="app-content"></ng-view>
  </div>
</div>
</body>
</html>
